{% extends 'app/paper/base.html' %}
{% block content %}

   <div class="card" style="width: 18rem; ">
   <div class="card-header text-center" style="background-color: gray; color: white;">
    Your Paper
   </div>
      <ul class="list-group list-group-flush">
          {% for k, i in paper.items %}
              <li class="list-group-item"><strong>{{ k }}</strong> : {{ i }}</li>
          {% endfor %}
      </ul>
   </div>
{% endblock %}
{% block nav_item %}
    <li class="nav-item">
            <a class="nav-link" href="{% url 'get_person' clntId_con %}">Person info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'car_licence' %}">Car licence info</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'get_car' carId_con%}">Car info</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'get_sprlics' %}">Sprlics info</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'get_vin' vin_con%}">Vin info</a>
          </li>
{% endblock %}